.header,.data{
    text-align: center;
    background-color:aqua;
    padding: auto; 
    border-radius: 10pt;
}
hr{
    display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 10px;
}